

.feuille-automne {
    position: fixed;
    width: 50px;
    height: auto;
    z-index: 10;
}


.bouton-musique {
    position: absolute;
    right: 5px;
    height: 38px;
    width: 38px;
    border: none;
    outline: none;
    padding: 0px;
    z-index: 1000;
    background-position: top left;    
}



