body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(132, 175, 255),rgb(255, 255, 255));   
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

body.nuageux, body.pluie, body.orage {
    background: linear-gradient(rgb(194, 197, 203),rgb(255, 255, 255));
}

#bouton-raz {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-image: url(images/raz.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#titre {
    background-color: rgba(255, 255, 255, 0.511);
    border: 3px #ffffff solid;
    font-size: 60px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#question {
    font-size: 48px;
    text-align: center;

}

#weather-icons {
    width: 100%;
    text-align: center;
}

.weather-icon {
    width: calc(20% - 20px);
    cursor: pointer;
}

.hide {
    display: none;
}